@using static WebApplication1.Controllers.CourseController;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Course[]

<html>
<head>
    <title>Kurs Listesi</title>
</head>
<body>
    <h1>Kurs Listesi</h1>

    @if (Model != null && Model.Length > 0)
    {
        <table class="table table-hover" border="1">
            <tr>
                <th>Kursu ID</th>
                <th>Kurs Başlıgı</th>
            </tr>
            @foreach (var course in Model)
            {
                <tr>
                    <td>@course.Id</td>
                    <td>@course.Title.Rendered</td>
                </tr>
            }
        </table>
    }
    else
    {
        <p>No courses found.</p>
    }
</body>
</html>
